@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blocked";
}

<hgroup>
    <h1 class="text-danger">Blocked.</h1>
    <h2 class="text-danger">This login is blocked. Try again later.</h2>
</hgroup>
