@model GameForum.Web.Infrastructure.Models.CommentsViewModel

@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>

<div>
    <ul id="commentList">
        @foreach (var item in Model.Comments)
        {
            <li>@item.Body</li>
        }
    </ul>
</div>
<div>
    @using (Html.BeginForm("newcomment", "game", FormMethod.Post))
    {
        <div>
            <input name="newComment" id="newComment" type="text" />
         </div>
        <div>
            <input name="New Post" type="submit" />
        </div>
        <div>
            <ul class="error">
            </ul>
        </div>
    }
</div>

<script>
    (function () {

        var settings = {
            newCommentId: 'newComment',
            commentListId: 'commentList',
            newCommentStart: 'new-comment',
            newCommentCompleted: 'new-comment-result'
        };

        $('form').validate({
            rules: {
                newComment: {
                    required: true
                }
            },
            messages: {
                newComment: {
                    required: '* Enter comment'
                }
            }
        });

        require(['jquery', 'newcomment'], function ($, nc) {
            $(document).ready(function () {
                nc.init(settings);
            });
        });
    }());
</script>
