body {
	margin: 0;
    background-color: #E3E3E3;
    width: 100%;
    overflow-x: hidden;
}
.title {
	background: linear-gradient(to top, #333333, #555555);
	font-family: Helvetica;
	font-size: 24px;
    font-weight: bold;
	color: white;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.block {
  	width: 100%;
  	height: 100%;
  	display:flex;
  	padding-top: 10px;
  	padding-left: 10px;
    padding-bottom: 10px;
    transition: transform 1.6s;
}

.table {
	background-color: #EEEEEE;
	border-spacing: 0;
	border-radius: 15px;
	margin: 0 0 2px 0;
    width: 400px;
}
.tableBlock 
{
    width: 400px;
	background-color: #EEEEEE;
	border-radius: 8px;
	border-color: black;
	box-shadow:0 0 2px 2px #C1C1C1;
	margin-right: 20px;
	transition-property: opacity;
    transition-duration: 0.5s;
}
.tableHeader {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: linear-gradient(to top, #333333, #555555);
	color: white;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	vertical-align: middle;
}
.price {
	text-align: left;
}
.columnNameBack {
	background: linear-gradient(to top, #B9B9B9, #ADADAD);
}
#columnName {
	font-size: 11px;
	font-family: "Helvetica Roman";
	font-weight: bold;
	text-align: left;
	padding-left: 42px;
	padding-right: 40px;
}
.companyName {
	font-family: "Helvetica Roman";
	font-size: 14px;
	color: #A2A2A2;
	float: left;
	margin-left: 10px;
}
.data {
	padding-left: 40px;
	padding-right: 40px;

}
#red {
	color: #E80000;
}
#green {
	color: #339900;
}
hr {
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #CCCCCC;
	margin-bottom: 5px;
	margin-top: 5px;
}
.buttonPanel 
{
    text-align: center;
    display: flex;
    background-color: #333333;
    width: 100%;
    height: 40px;
}
.scrollButton 
{
    background-color: #C1C1C1;
    margin-left: 15px;
    outline: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    left: 50%;
    right: 50%;
    top: 25%;
}
.scrollButton:hover {
    background-color: #FFFFFF;
}
.scrollButton:active {
    background-color: #000000;
}
