<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="taxAmntDefault" value="1.2M"/>
    <add key="logPath" value=""/>
    <add key="country" value="US"/>
  </appSettings>
</configuration>