body {
  margin: 0;
  background-color: #E3E3E3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.wrapper {
  display: flex;
  min-height: 1px;
  transition: transform 0.5s;
}

.wrapper .tableWrapper {
  width: 300px;
  margin: 20px;
  margin-right: 0;
  flex-shrink: 0;
  overflow: auto;
  background-color: #EEEEEE;
  border: 1px solid black;
  transition: opacity 0.5s;
  border-radius: 6px;
}

.wrapper .tableWrapper table {
   border-collapse: collapse;
  width: 100%;
}

.header {
  background: linear-gradient(#333333, #555555);
  color: white;
  text-align: left;
  padding: 4px 20px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.columns {
  font-weight: bold;
  font-size: 11px;
  font-family: "Helvetica Roman", serif;
  background: linear-gradient(#B9B9B9, #ADADAD);
}

.cells {
  width: 30%;
}

.company {
  font-size: 14px;
  margin-left: 20px;
  font-family: "Helvetica Roman", serif;
  color: #A2A2A2;
}

.numbers {
  font-family: "Helvetica Roman", serif;
  font-size: 17px;
  text-align: center;
}

.hr {
  height: 1px;
  background-color: #CCCCCC;
  margin:0;
}

.buttons {
  text-align: center;
}

.buttons div {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 10px;
  width: 15px;
  height: 15px;
}

.buttons .active {
    background-color: #aaa;
}

.buttons *:hover {
  background-color: #ccc;
}

.green {
  color: #339900;
}
.red {
  color: #E80000;
}

.title {
  background: linear-gradient(#333333, #555555);
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 24px;
}
