<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOLIDHomework.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SOLIDHomework.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SOLIDHomework.Core.Properties.Settings>
            <setting name="logPath" serializeAs="String">
                <value>C:\Users\Anya\Documents\SOLID\SOLIDHomework\text.txt</value>
            </setting>
        </SOLIDHomework.Core.Properties.Settings>
        <SOLIDHomework.Core.Settings>
            <setting name="logPath" serializeAs="String">
                <value />
            </setting>
        </SOLIDHomework.Core.Settings>
    </userSettings>
</configuration>