@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>

<address>
    FAMCS BSU <br />
    Minsk, Belarus<br />
</address>

<address>
    <strong>Support:</strong>   <a>StackOverflow@example.com</a>
</address>