@model STACK.Models.Answer

<div class="col-md-12" id="@Model.Id">
    <hr/>
    <h2>@Model.Text</h2>
    <div class="row">
        <div class="col-md-3">
            <strong>Answered by</strong>:
            @if (Model.ApplicationUser != null)
            {
                @Model.ApplicationUser.UserName
            }
            else
            {
                <p>"Unauthorized user"</p>
            }
        </div>
        <div calss="col-md-3"><strong>Date</strong>: @Model.Date</div>
    </div>
    <br/>
    <hr />
    <br />
</div>

