@model STACK.Models.IndexViewModel
@{
    ViewBag.Title = "Account";
}

<h2>Your account</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change Password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
