body {
}
#canvas
{
border: 2px solid #000000;
background-color:#333333;

}
.container
{
	border: 1px solid #000000;
	background-color:#7F7F7F;
	padding: 10px 10px;
	float:left;
}
.generation
{
	color:#CCCCCC;
}
#generationNum
{
	color:#CCCCCC;
}
.canvas
{
}
