body
{
	margin: 0;
	background: #efefef url("C:/BSU/UP/Task4/images/bing_dark.png");
	align-content: center;
}

.wrapper
{
	margin: 30px auto 0px auto;
	font-family: Helvetica;
	width: 700px;
	background-color: #24232D;
	padding-bottom: 15px;
	padding-top: 10px;
	border-radius: 2px;
	overflow: hidden;
}

.header
{
	color: white;
	font-size: 22px;
	margin: 0px 0px 15px 15px;
}

.back
{
	float: right;
	color: black;
	background-color: #FF9900;
	border-radius: 3px;
	font-size: 15px;
	padding: 5px 5px 5px 5px;
	border: 2px solid #FF9900;
	margin: 0px 15px 0px 0px;
	cursor: pointer;
}

.back:hover{	
	background-color: black;
	color: #FF9900;

}

.content
{
	margin: 15px 15px 15px 15px;
}

.text
{
	color: gray;
	font-size: 14px;
}

.maintext
{
	/*width: 60%;*/
}

.tableWrapper
{
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;
	width: 50%;
	border: 1px solid black;
	align-content: center;
}

.table
{
	width: 100%;
	border-collapse: collapse;
}

.image
{
	width: 260px;
	height: 150px;
	margin: 15px 20px 15px 20px;
}

.tdimage
{
	text-align: center;
}

.tdtext
{
	float: right;
	padding-right: 30px;
	width: 85%;
	padding-bottom: 10px;
}

.link:hover
{
	color: lightblue;
}

th
{
	padding-left: 15px;
	text-align: left;
	vertical-align: top;
	color: orange;
}

.miniheader
{
	color: white;
	font-size: 18px;
	margin-bottom: 10px;
}

/*.footer
{
	text-align: center;
	background-color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 700px;
	margin: 0px auto 50px auto;
}

.sources
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	font-size: 20px;
}*/