@{
    ViewBag.Title = "About Stack Overflow";
    ViewBag.Message = "Stack overflow is a part of Stack Exchange. It is a network of question-and-answer websites on topics in varied fields, each site covering a specific topic, where questions, answers, and users are subject to a reputation award process. The sites are modelled after Stack Overflow, a Q&A site for computer programming questions that was the original site in this network. The reputation system allows the sites to be self-moderating. As of April 2017, the three most popular sites in the network are: Stack Overflow, Super User and Ask Ubuntu. User contributions are licensed under Creative Commons Attribution-ShareAlike 3.0 Unported";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

